@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1484726041984'); /* IE9*/
    src: url('../font/iconfont.eot?t=1484726041984#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/iconfont.woff?t=1484726041984') format('woff'), /* chrome, firefox */ url('../font/iconfont.ttf?t=1484726041984') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../font/iconfont.svg?t=1484726041984#iconfont') format('svg'); /* iOS 4.1- */
}

.icon-font {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-left-arrow:before {
    content: "\e605";
}

.icon-error-line:before {
    content: "\e614";
}

.icon-user:before {
    content: "\e606";
}

.icon-right:before {
    content: "\e62e";
}

.icon-set-line:before {
    content: "\e636";
}

.icon-jingxuanbingli:before {
    content: "\e64b";
}

.icon-plus:before {
    content: "\e628";
}

.icon-gengduo:before {
    content: "\e626";
}

.icon-find-line:before {
    content: "\e643";
}

.icon-up-arrow:before {
    content: "\e600";
}

.icon-history:before {
    content: "\e61b";
}

.icon-right-arrow:before {
    content: "\e611";
}

.icon-send-friends:before {
    content: "\e619";
}

.icon-normal-products:before {
    content: "\e61f";
}

.icon-minus:before {
    content: "\e663";
}

.icon-share:before {
    content: "\e64a";
}

.icon-bankcard:before {
    content: "\e61a";
}

.icon-delete-line:before {
    content: "\e61e";
}

.icon-home-line:before {
    content: "\e603";
}

.icon-list-line:before {
    content: "\e60b";
}

.icon-owner:before {
    content: "\e617";
}

.icon-finish:before {
    content: "\e624";
}

.icon-heart-line:before {
    content: "\e622";
}

.icon-line-notice:before {
    content: "\e60d";
}

.icon-car-sent:before {
    content: "\e657";
}

.icon-plane:before {
    content: "\e642";
}

.icon-wallet:before {
    content: "\e638";
}

.icon-commodity-line:before {
    content: "\e630";
}

.icon-wenhao:before {
    content: "\e6c5";
}

.icon-qrcode:before {
    content: "\e64e";
}

.icon-mp-search:before {
    content: "\e656";
}

.icon-close:before {
    content: "\e6a8";
}

.icon-diamond-block:before {
    content: "\e646";
}

.icon-partner:before {
    content: "\e645";
}

.icon-moments-block:before {
    content: "\e6e0";
}

.icon-newbrand:before {
    content: "\e640";
}

.icon-sort-line:before {
    content: "\e647";
}

.icon-theme:before {
    content: "\e7aa";
}

.icon-smile:before {
    content: "\e737";
}

.icon-help:before {
    content: "\e608";
}

.icon-round-line:before {
    content: "\e60f";
}

.icon-erath:before {
    content: "\e615";
}

.icon-point:before {
    content: "\e7ae";
}

.icon-download-block:before {
    content: "\e6c7";
}

.icon-code:before {
    content: "\e609";
}

.icon-cart:before {
    content: "\e65c";
}

.icon-wechat:before {
    content: "\e60c";
}

.icon-calendar:before {
    content: "\e64f";
}

.icon-bulb:before {
    content: "\e6dd";
}

.icon-address:before {
    content: "\e60a";
}

.icon-service:before {
    content: "\e658";
}

.icon-form-up:before {
    content: "\e62c";
}

.icon-down-arrow:before {
    content: "\e601";
}

.icon-box3d:before {
    content: "\e604";
}

.icon-news:before {
    content: "\e726";
}

.icon-huangguanline:before {
    content: "\e8d1";
}

.icon-linebag-block:before {
    content: "\e61c";
}

.icon-class-thin:before {
    content: "\e610";
}

.icon-return:before {
    content: "\e662";
}

.icon-text-block:before {
    content: "\e613";
}

.icon-admin-text:before {
    content: "\e65d";
}

.icon-Add-to:before {
    content: "\e616";
}

.icon-brand:before {
    content: "\e648";
}

.icon-heart-block:before {
    content: "\e60e";
}

.icon-delete-block:before {
    content: "\e668";
}

.icon-star-line:before {
    content: "\e62f";
}

.icon-stopwatch-line:before {
    content: "\e649";
}

.icon-linebag:before {
    content: "\e71b";
}

.icon-class-line:before {
    content: "\e720";
}

.icon-message-line:before {
    content: "\e602";
}

.icon-weibiaoti2010104:before {
    content: "\e63c";
}

.icon-gift:before {
    content: "\e7d4";
}

.icon-admin-set:before {
    content: "\e612";
}

.icon-card-line:before {
    content: "\e63f";
}

.icon-levelup:before {
    content: "\e6cb";
}

.icon-reduce-to:before {
    content: "\e651";
}

.icon-rmb:before {
    content: "\e6d3";
}

.icon-bar-chart:before {
    content: "\e620";
}

.icon-help-center:before {
    content: "\e607";
}

.icon-moments:before {
    content: "\e618";
}

.icon-recommend:before {
    content: "\e62b";
}

.icon-coupons:before {
    content: "\e6c4";
}

.icon-cash:before {
    content: "\e61d";
}

.icon-shop-line:before {
    content: "\e69f";
}

.icon-user-two:before {
    content: "\e770";
}

.icon-zhifubao1:before {
    content: "\e691";
}

.icon-weixin1:before {
    content: "\e697";
}

.icon-bill-complete:before {
    content: "\e637";
}

.icon-diamond-line1:before {
    content: "\e625";
}

.icon-onsale:before {
    content: "\e629";
}

.icon-user-manage:before {
    content: "\e62a";
}

.icon-commodity-manage:before {
    content: "\e62d";
}

.icon-shop-manage:before {
    content: "\e631";
}

.icon-list-manage:before {
    content: "\e632";
}

.icon-user-study:before {
    content: "\e633";
}

.icon-myprofit:before {
    content: "\e634";
}

.icon-address-manage:before {
    content: "\e635";
}

.icon-bill-close:before {
    content: "\e639";
}

.icon-bill-sent:before {
    content: "\e63a";
}

.icon-bill-wait:before {
    content: "\e63b";
}

.icon-crown:before {
    content: "\e621";
}

.icon-sell-line:before {
    content: "\e63d";
}

.icon-buy-line:before {
    content: "\e63e";
}

.icon-jingxuan:before {
    content: "\e623";
}

.goods_num_adjust .weui-number-sub {
    border-right: none;
    padding: 0;
    border-radius: 0;
    height: 35px;
    width: 20px;
    color: #000;
}
.goods_num_adjust .weui-number-input {
    float: left;
    width: 30px;
    height: 20px;
    color: #666;
    appearance: none;
    border: 1px solid #888;
    padding: 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    -webkit-appearance: none;
}
.goods_num_adjust .weui-number {
    float: left;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    color: #000;
    border: 1px solid #888;
    text-align: center;
}

.goods_num_adjust .weui-number-plus {
    border-left: none;
    margin-right: 5px;
    padding: 0;
    border-radius: 0;
    height: 20px;
    width: 20px;
    color: #000;
}